<div id="top">
    <div class="blue top-item">
    </div>
    <div class="aqua top-item">
    </div>
    <div class="green top-item">
    </div>
    <div class="yellow top-item">
    </div>
    <div class="red top-item">
    </div>
</div>
<style type="text/css">
    #nav {
        width: 960px;
        margin: 2em auto -2em;
    }

    #nav ul {
        width: 100%;
        height: auto;
        overflow: auto;
        margin: 0;
        padding: 0;
    }

    #nav ul li {
        display: inline;
        text-align: center;
        line-height: 50px;
        margin: 0;
    }

    #nav ul li a {
        display: block;
        float: left;
        width: 195px;
        height: 50px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 800;
        background: #00AAE7;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    #nav ul li a:hover {
        background: #003366;
        color: orange;
    }
</style>
<nav id="nav">
    <ul>
        <li><a href="/article" target="_blank">Article</a></li>
        <li><a href="/photo" target="_blank">Photo</a></li>
    </ul>
</nav>
<div id="content">
<div class="section profile">
    <div class="profile-title" data-index="1">
        <span class="title" style="background-color: #327ea3;">PROFILE</span> <span class="icon">
                </span>
    </div>
    <div class="profile-header">
        <div class="profile-user">
            <div class="profile-photo">
                <img src="/images/img003.jpg" alt="这里是我的头像"/>
            </div>
            <div class="profile-name-area">
                <h1 id="profile-name-title">
                    <span class="firstname">Guanghui</span> <span class="lastname">Yang</span>
                </h1>
                <h4 class="profile-position">
                    coder</h4>
            </div>
        </div>
        <div class="profile-data">
            <div class="info">
                <div class="info_row">
                    <span class="th">姓名:</span> <span class="td">Guanghui Yang</span>
                </div>
                <div class="info_row">
                    <span class="th">联系方式:</span> <span class="td">18937856296</span>
                </div>
                <div class="info_row">
                    <span class="th">电子邮箱:</span> <span class="td">telljsn@sina.cn</span>
                </div>
                <div class="info_row">
                    <span class="th">个人站点:</span> <span class="td"><a href="http://www.ygh2jsn.cn" style="text-decoration: none;
                                color: #00AAE7;" target="_blank">www.ygh2jsn.cn</a></span>
                </div>
                <div class="info_row">
                    <span class="th">毕业院校:</span> <span class="td">ZSTU</span>
                </div>
                <div class="info_row">
                    <span class="th">专业:</span> <span class="td">计算机科学与技术</span>
                </div>
                <div class="info_row">
                    <span class="th">博客园:</span> <span class="td"><a href="http://www.cnblogs.com/jsn521/"
                                                                     style="text-decoration: none; color: #00AAE7;"
                                                                     target="_blank">jsn521</a></span>
                </div>
            </div>
        </div>
        <div class="profile-about">
            这是我的个人站点，旨在将自己的作品放在网上供大家浏览。 站点在初期建设阶段，服务器端不是很稳定，有时能够访问博客，有时不能访问，博客中有我自己的开发笔记。 其中包括转发的以及原创的。
            这个站点仅仅提供本人的一些基本信息，请勿用作其他用途。本人在校生， 明年毕业，希望能够找到一份满意的工作。加油吧！
        </div>
    </div>
</div>
<div class="section skill">
    <div class="profile-title" data-index="2">
        <span class="title" style="background-color: #4ca5d0;">SKILL</span> <span class="icon">
                </span>
    </div>
    <div class="skill-info">
        <div class="s_column">
            <h4 class="column-title">
                web前端方向<span class="progcessbar"> <span class="process pblue"><span class="value">90%</span></span>
                        </span>
            </h4>

            <div class="column-content">
                <p>
                    a. 熟悉Javascript，HTML，对 DOM 结构有清楚的认识；</p>

                <p>
                    b. 熟悉CSS,对 CSS3 有一定了解；</p>

                <p>
                    c. 熟悉jQuery，了解jQueryUI，BootStrap，YUI等框架；</p>

                <p>
                    d. 了解浏览器兼容性以及web语义化。</p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                C#方向<span class="progcessbar"> <span class="process paqua"><span class="value">80%</span></span>
                        </span>
            </h4>

            <div class="column-content">
                <p>
                    a. 熟悉WinForm，LINQ，Entity Framework，ADO.NET；</p>

                <p>
                    b. 熟悉TCP/IP，多线程；</p>

                <p>
                    c. 了解C#接口，委托，SQL Server，自定义控件开发。</p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                PHP方向<span class="progcessbar"> <span class="process pgreen"><span class="value">70%</span></span>
                        </span>
            </h4>

            <div class="column-content">
                <p>
                    a. 熟悉PHP，有能力独立完成项目开发；</p>

                <p>
                    b. 熟悉Apache，MySQL；</p>

                <p>
                    c. 熟悉Ubuntu下PHP+Apache+MySQL开发；</p>

                <p>
                    d. 熟悉Elgg社交框架，了解ThinkPHP，WebService。</p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                Java方向<span class="progcessbar"> <span class="process pyellow"><span class="value">60%</span></span>
                        </span>
            </h4>

            <div class="column-content">
                <p>
                    了解SSH，有相关项目经验。</p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                Node.js方向<span class="progcessbar"> <span class="process pred"><span class="value">70%</span></span>
                        </span>
            </h4>

            <div class="column-content">
                <p>
                    a. 熟悉Node.js,对异步I/O以及事件驱动有清楚的认识；</p>

                <p>
                    b. 熟悉MongoDB,熟悉常用MongoDB shell指令，具备MongoDB开发基础。</p>

                <p>
                    c. 熟悉Ejs,Fade框架。</p>
            </div>
        </div>
    </div>
</div>
<div class="section project">
    <div class="profile-title" data-index="3">
        <span class="title" style="background-color: #6ca338;">PROJECT</span> <span class="icon">
                </span>
    </div>
    <div class="project-info">
        <div class="s_column">
            <h4 class="column-title">
                项目名称: 海洋二所热液探测系统</h4>

            <div class="column-content">
                <p>
                    角色: 主力成员</p>

                <p>
                    时间: 2012.12--2013.05</p>

                <p>
                    开发语言: C#</p>

                <p>
                    开发工具: Visual Studio 2010</p>

                <p>
                    开发技术: 多线程, 接口, ArcGIS Engine, ArcGIS SDE</p>

                <p style="line-height: 1.5em">
                    项目描述: 国家海洋局第二研究所 863 项目子课题，系统的主要工作是对海底探测设备采集 到的原始数据进行处理，生成海底地形三维特征图、平面特征图、等值线等一系列图形。系
                    统采用工程设计概念，与数据库相互结合提供工程的持久化保存及共享。系统采用 C#编写， 基于 ArcGIS 进行二次开发，系统满足了用户的需求。
                </p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                项目名称: FreeBox(联通校园移动社交项目)
            </h4>

            <div class="column-content">
                <p>
                    角色: 主力成员</p>

                <p>
                    时间: 2013.07--2013.09</p>

                <p>
                    开发语言: PHP</p>

                <p>
                    开发工具: PhpStorm</p>

                <p>
                    开发技术: Elgg社交框架, 百度云推送</p>

                <p style="line-height: 1.5em">
                    项目描述: 该项目是一个移动社交平台，面向的用户是在校学生。使用联通移动服务的学生 可以通过该平台进行交流，具体的功能类似于微信。本人在项目的研发过程中主要负责服务
                    器端接口实现，服务器接口采用 PHP 语言编写，在研发过程中我们采用了 Elgg 社交框架， 该框架较为成熟的设计能够满足社交平台的大部分功能。
                </p>
            </div>
        </div>
        <div class="s_column">
            <h4 class="column-title">
                项目名称: 个人站点</h4>

            <div class="column-content">
                <p>
                    角色: 负责人</p>

                <p>
                    时间: 2013.12--至今</p>

                <p>
                    站点支持： Node.js, MongoDB, EJS, Express, BootStrap</p>

                <p>
                    开发工具： WebStorm</p>

                <p style="line-height: 1.5em">
                    项目内容： 个人站点，主要记录个人日志以及照片分享，主页显示的是个人的一些基本信息。 该项目服务端采用 Node.js 实现，MongoDB 提供数据库支持，Express
                    框架提供网站支撑。 前端使用了 jQuery 和 BootStrap，网站还在完善之中，暂时可以通过 http://www.ygh2jsn.cn 访问。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section experience">
    <div class="profile-title" data-index="4">
        <span class="title" style="background-color: #ffbc38;">EXPERIENCE</span> <span class="icon">
                </span>
    </div>
    <div class="experience-info">
        <div class="s_column">
            <h4 class="column-title">
                实习经历1</h4>

            <div class="column-content">
                <p>
                    实习时间：2012.07--2012.12</p>

                <p>
                    公司名称：杭州网贝网络科技有限公司</p>

                <p>
                    实习部门：研发部</p>

                <p>
                    职位名称：研发工程师</p>

                <p style="line-height: 1.5em">
                    实习经历描述：在公司中参与的项目主要是一个网站的搭建，该网站与公司的业务相结合， 提供给用户一个个性化定制的平台。通过该平台，用户可以个性化定制车牌框，并通过该平
                    台直接下订单。购买之后，用户可以通过该平台分享给其他用户。在该项目的研发过程中，我主要负责分享部分，该部分提供一个公共环境，用户可以在这里看到其他用户设计的作品，
                    可以收藏、分享（站内分享及站外分享）该作品。项目前期采用 ASP.NET 实现，后期考虑 到移动端的需求，服务器采用 Java 实现。在项目的研发过程中，本人对
                    ASP.NET 以及 Java 的 SSH 框架有了较深的认识。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section personal">
    <div class="profile-title" data-index="5">
        <span class="title" style="background-color: #e82c0c;">PERSONAl</span> <span class="icon">
                </span>
    </div>
    <div class="personal-info" style="padding: 0 10px;">
        <h4>
            个人评价</h4>

        <p>
            对 IT 领域的知识有较强的好奇心和求知欲，愿意尝试使用新技术实现一些效果。喜欢 看书，特别是 web 前端领域的书籍。时常浏览国内及国外优秀社区如博客园，CSDN
            以及 stackoverflow。本人逻辑能力较强，处事谨慎认真，喜欢分享自己的学习心得。</p>
    </div>
</div>
<footer style="display: block; margin-top: 20px;">
    浙ICP备14007579号 版权所有 © 2013-2014 <a href="http://www.ygh2jsn.cn" style="color:#4ca5e3;text-decoration:none;"
                                       target="_blank">九一菜鸟</a>
</footer>
</div>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/index_2.js"></script>