<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
</head>
<body>
<%-body%>
<!--<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3486263756" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    WB2.login(function(){
        console.log("success");
        WB2.anyWhere(function(W){
                W.parseCMD("/statuses/friends.json", function(sResult, bStatus){
                        alert(sResult);
                },{
                    method: 'post'
                  }
               );
            });
    });
</script>-->

</body>
</html>